body,
input {
  font-family: "Nunito", sans-serif;
}

.top-circle-o {
  width: 290px;
  height: 580px;
  border-radius: 580px 0 0px 580px;
}
.top-circle-i {
  width: 180px;
  height: 360px;
  border-radius: 360px 0 0px 360px;
}
